.drawing-container {
  position: relative;
  height: 140px;
  width: 100px;
  flex-shrink: 0;
}

.bar-base { height: 4px; width: 60px; background: black; position: absolute; bottom: 0; left: 10px; }
.bar-vertical { height: 140px; width: 4px; background: black; margin-left: 10px; }
.bar-horizontal { height: 4px; width: 50px; background: black; position: absolute; top: 0; left: 10px; }
.rope { height: 25px; width: 3px; background: black; position: absolute; top: 0; right: 40px; }

.head { width: 25px; height: 25px; border-radius: 50%; border: 3px solid black; position: absolute; top: 25px; right: 28px; }
.body { width: 3px; height: 40px; background: black; position: absolute; top: 53px; right: 39px; }
.right-arm { width: 20px; height: 3px; background: black; position: absolute; top: 65px; right: 19px; transform: rotate(-30deg); }
.left-arm { width: 20px; height: 3px; background: black; position: absolute; top: 65px; right: 39px; transform: rotate(30deg); }
.right-leg { width: 20px; height: 3px; background: black; position: absolute; top: 95px; right: 22px; transform: rotate(60deg); }
.left-leg { width: 20px; height: 3px; background: black; position: absolute; top: 95px; right: 37px; transform: rotate(-60deg); }